<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- Devices running Android 12L (API level 32) or lower -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" /> <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" /> <!-- To handle the reselection within the app on Android 14 (API level 34) -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:name=".presentation.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.doctors.DocAccountActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectEHealth" />
        <activity
            android:name=".presentation.ui.doctors.DoctorAppointmentActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectEHealth" />
        <activity
            android:name=".presentation.ui.doctors.DoctorFeedbackActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectEHealth" />
        <activity
            android:name=".presentation.ui.doctors.DoctorsDashboardActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ProjectEHealth" />
        <activity
            android:name=".presentation.ui.patients.PrescriptionsActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectEHealth" />
        <activity
            android:name=".presentation.ui.patients.AppointmentsActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectEHealth" />
        <activity
            android:name=".presentation.ui.patients.AccountActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectEHealth" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBuHi0CCVRclOuLJwOp-IqPt-deFqii4r0" />

        <activity
            android:name=".presentation.ui.patients.DashboardActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ProjectEHealth" />
        <activity
            android:name=".presentation.ui.registration.SignupActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectEHealth" />
        <activity
            android:name=".presentation.ui.registration.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ProjectEHealth" />

        <service
            android:name=".services.FirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


        <activity
            android:name=".presentation.ui.registration.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ProjectEHealth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>